@{
    ViewData["Title"] = "Detail";
    BranchParams branchParams = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h2 class="mt-0 header-title">Branch Details</h2>


            <div class="table-responsive">
                <form>
                    
                    <input disabled value="@branchParams.LanguageName" name="LanguageId"
                           id="language" class="btn btn-secondary" style="margin-bottom: 5px">                 

                </form>
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>
                                @branchParams.Name
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @branchParams.Description
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Our Address</th>
                            <td>
                                @branchParams.OurAddress
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>
                                @branchParams.Phone
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>
                                @branchParams.Email
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Media Sales Department</th>
                            <td>
                                @branchParams.MediaSalesDepartment
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Working Hours</th>
                            <td>
                                @branchParams.WorkingHours
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Map</th>
                            <td>
                                <iframe src="@branchParams.Map" class="map"
                                        allowfullscreen="" loading="lazy"></iframe>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Branch Photo</th>
                            <td>
                                <div class="form-group form-group-float">
                                    <img src="/Uploads/branch/@branchParams.PhotosImage" width="250" />
                                    <input type="hidden" name="oldPhoto" value="@branchParams.PhotosPhoto" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Tariff Photo</th>
                            <td>
                                <div class="form-group form-group-float">
                                    <img src="/Uploads/@branchParams.TariffImage" width="250" />
                                    <input type="hidden" name="oldPhoto" value="@branchParams.TariffPhoto" />
                                </div>
                            </td>
                        </tr>


                    </tbody>
                </table>

                <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px">
                    Go Back
                </a>
            </div>
        </div>
    </div>

</div>



