@{
    ViewData["Title"] = "Detail";
    Branch branches = Model;
}

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h2 class="mt-0 header-title">Branch Details</h2>


            <div class="table-responsive">
                <form>
                    <select name="LanguageId" id="language" class="btn btn-secondary" style="margin-bottom: 5px">

                        @foreach (var item in ViewBag.Languages)
                        {

                            <!option value="@item.Id" @(item.Id == Model.LanguageId ? "selected" : "")> @item.Code</!option>

                        }


                    </select>

                </form>
                <table class="table table-bordered mb-0">
                    <tbody>
                        <tr>
                            <th scope="row">Branch Name</th>
                            <td>
                                @branches.Name
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description</th>
                            <td>
                                @branches.Description
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Our Address</th>
                            <td>
                                @branches.Contact.OurAddress
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Phone</th>
                            <td>
                                @branches.Contact.Phone
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Email</th>
                            <td>
                                @branches.Contact.Email
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Media Sales Department</th>
                            <td>
                                @branches.Contact.MediaSalesDepartment
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Working Hours</th>
                            <td>
                                @branches.Contact.WorkingHours
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Map</th>
                            <td>
                                <iframe src="@branches.Contact.Map" class="map"
                                        allowfullscreen="" loading="lazy"></iframe>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Tariffs</th>
                            <td >
                                <div class="form-group form-group-float">
                                    <img src="/Uploads/@branches.Tariff.Image" width="300" />
                                    <input type="hidden" name="oldPhoto" value="@branches.Tariff.Image" />
                                </div>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px">
                    Go Back
                </a>
            </div>
        </div>
    </div>

</div>



