@{
    ViewData["Title"] = "Detail";
    MovieDetail movieDetail = Model;
}






<div class="col-lg-12"> 
    <div class="card">
        <div class="card-body">

            <h2 class="mt-0 header-title">Movie Details</h2>


            <div class="table-responsive">
                <form>
                    <select name="LanguageId" id="language" class="btn btn-secondary" style="margin-bottom: 5px">

                        @foreach (var item in ViewBag.Languages)
                        {

                            <!option value="@item.Id" @(item.Id == Model.LanguageId ? "selected" : "")> @item.Code</!option>

                        }


                    </select>

                </form>
                <table class="table table-bordered mb-0">             
                    <tbody>
                        <tr>
                            <th scope="row">Trailer</th>
                            <td>
                                @movieDetail.Treyler
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Country</th>
                            <td>
                                @movieDetail.Country
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Director</th>
                            <td>
                                @movieDetail.Director
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Actors</th>
                            <td>
                                @movieDetail.Actors
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Duration</th>
                            <td>
                                @movieDetail.Duration
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Genre</th>
                            <td>
                                @movieDetail.Genre
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">About</th>
                            <td>
                                @movieDetail.About
                            </td>
                        </tr>                   

                    </tbody>

                </table>
                <a asp-action="Index" class="btn btn-secondary" style="margin-top: 5px">
                    Go Back
                </a>
            </div>
        </div>
    </div>

</div>



