@{
    ViewData["Title"] = "Detail";
    MovieDetail movieDetail = Model;
}






<div class="col-lg-12">
    <div class="card">
        <div class="card-body">

            <h2 class="mt-0 header-title">Movie Details</h2>


            <div class="table-responsive">
                <form>
                    <select name="LanguageId" id="language" class="btn btn-dark" style="margin-bottom: 5px">

                        @foreach (var item in ViewBag.Languages)
                        {
                            <option value="@item.Id"> @item.Code</option>

                        }


                    </select>

                </form>
                <table class="table table-dark mb-0">
                    <thead>
                        <tr>
                            <th>FirstTitle & FirstDescription </th>
                            <th>YoutubeUrl</th>
                            <th>SecondTitle & SecondDescription </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td>
                                @movieDetail.Treyler


                            </td>
                            <td>
                                @movieDetail.Country
                            </td>

                            <td>
                                @movieDetail.Director

                            </td>
                            <td>
                                @movieDetail.Actors

                            </td>
                            <td>
                                @movieDetail.Duration

                            </td>
                            <td>
                                @movieDetail.Genre

                            </td>
                            <td>
                                @movieDetail.About

                            </td>
                        </tr>

                    </tbody>

                </table>
                <a asp-action="Index" class="btn btn-dark" style="margin-top: 5px">
                    Go Back
                </a>
            </div>
        </div>
    </div>

</div>



